spring:
  datasource:
    url: jdbc:mariadb://192.168.65.128:3306/board
    username: boarduse
    password: password
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

server:
  port: 8080